@use "abstracts" as *;

// reset

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
}

// base styles
body {
  background: linear-gradient(137.41deg, #282828 0%, #090808 100%);
  background-repeat: no-repeat;
  background-size: 100%;

  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
  color: $white;
}

body.no-scroll {
  overflow: hidden;
}

body {
  min-height: 100vh;
  overflow: auto;
}

body,
input,
button {
  font-family: "JetBrains Mono", monospace;
  color: $white;
}

.red-gradient-container {
  background: linear-gradient(
    287.06deg,
    rgba(235, 33, 69, 0.12) 4.82%,
    rgba(235, 33, 69, 0) 100%
  );
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 2.3rem;
  font-weight: 500;

  margin-bottom: 1.5rem;
}

h4 {
  font-size: 2.1rem;
}

a,
a:visited {
  color: $white;
  text-decoration: none;

  font-size: 2rem;
}

a:hover {
  text-decoration: underline;
}

span {
  color: $red;
}

p {
  font-size: 2rem;
  font-weight: 400;

  margin-bottom: 2rem;
}

main {
  margin-top: 12rem;
}

main > h1 {
  margin-bottom: 4rem;
}

input,
textarea {
  font-family: "JetBrains Mono";
  font-size: 1.8rem;
  color: white;

  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
}

input {
  border-bottom: 3px solid #858080;
  padding: 0.75rem 1rem;

  position: relative;
}

textarea {
  border: 3px solid #858080;
  padding: 0.75rem 1rem;
}

@media (min-width: 720px) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 1080px) {
  html {
    font-size: 62.5%;
  }
}
