@mixin animation-position($animation-width) {
  left: calc(100% - #{$animation-width}px);
}

#main-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  padding: 5rem 0;
}

#terminal-icon {
  cursor: pointer;
  position: fixed;
  bottom: 10%;
  left: 5%;

  display: none;
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);

  width: 250px;
}

#gif {
  width: 100%;
}

@media (min-width: 500px) {
  .gif-container {
    @include animation-position(250);
  }
}

@media (min-width: 700px) {
  #main-wrapper {
    padding: 7rem 0;
  }

  .gif-container {
    width: 300px;
    @include animation-position(300);
  }
}

@media (min-width: 1280px) {
  #terminal-icon {
    display: initial;
  }

  .gif-container {
    width: 350px;
    @include animation-position(350);
  }
}
