@mixin animation-position($animation-width) {
  left: calc(100% - #{$animation-width}px);
}

#main-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  padding: 5rem 0;
}

#terminal-icon {
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  left: 5%;

  display: none;
}

.gif-container {
  display: none;
  justify-content: center;
  align-items: center;

  position: sticky;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);

  width: 250px;
}

#gif {
  width: 100%;
}

@media (min-width: 1280px) {
  #terminal-icon {
    display: initial;
  }

  .gif-container {
    width: 275px;
    display: flex;
    @include animation-position(300);
  }
}
