@mixin animation-position($animation-width) {
  left: calc(100% - #{$animation-width}px);
}

#main-wrapper {
  width: 90%;
  min-height: 100vh;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;

  padding: 5rem 0;
}

#terminal-icon {
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  left: 5%;

  display: none;
}

.gif-container {
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);

  width: 250px;
}

#gif {
  width: 100%;
}

.speech-bubble {
  overflow-y: auto;
  padding: 1.7rem;
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;

  width: 250px;
  height: 148px;

  background-image: url("/images/speech.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: translate(-150px, -110px);

  & > p {
    font-size: 1.4rem;

    word-break: normal;

    max-height: 65px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 1280px) {
  #terminal-icon {
    display: initial;
  }

  .gif-container {
    width: 275px;
    display: flex;
    @include animation-position(300);
  }
}
